<div class="w-full h-screen lg:flex lg:justify-center">
    <div class="pt-10 w-full lg:max-w-[1280px] px-6 lg:px-0 lg:justify-start">
        <div class="grid mt-16 lg:mt-28">
            <h1 class="text-[#3A5549] text-2xl lg:text-[40px] max-w-[667px] leading-[55px] font-bold">Από τις μεγαλύτερες επιχειρήσεις φυτωρίων στην Ελλάδα, για πάνω από 40 χρόνια.</h1>
            <p class="text-[#092B1B] text-base lg:text-2xl pt-3 lg:pt-6">Φυτά υψηλής ποιότητας και μεγάλης αποδοτικότητας.</p>
            <div class="pt-8 lg:absolute lg:bottom-20">
                <h3 class="text-[#3A5549] text-lg font-bold">Hot 🔥</h3>
                <div class="bg-[#DEE3E0] w-full max-w-[297px] pt-3 mt-3 px-3 pb-4 rounded-2xl">
                    <img class="w-full h-40 rounded-2xl" src="assets/images/oranges.jpeg" alt="Oranges" lazyload/>
                    <div class="flex justify-between items-center w-full pt-2">
                        <div>
                            <h2 class="text-base font-bold">Νέα ποικιλία αχλαδιάς “Eden”</h2>
                        </div>
                        <div>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 3L11 8L6 13" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                    <p class="text-[#4C4C4C] text-sm pt-1">Αποκλειστικότητα για την Ελλάδα από τα φυτώρια “Δανιηλίδης”</p>
                </div>
            </div>
        </div>
    </div>
</div>