<div class="w-full h-screen lg:flex lg:justify-center">
    <div class="pt-10 w-full flex flex-col items-start lg:max-w-[1280px]">
        <div class="grid mt-16 lg:mt-28 lg:px-0 px-6 text-left">
            <h1 class="text-[#84F64E] text-2xl lg:text-[40px] lg:max-w-[599px] leading-[55px] font-bold">Aνάπτυξη φυτωρίων προορισμένα για βιολογικές καλλιέργειες</h1>
            <p class="text-white text-base lg:text-lg lg:max-w-[616px] lg:pt-6 pt-3 whitespace-pre-wrap">Ολοκληρωμένες λύσεις βιολογικής καλλιέργειας όπως φυτά σε κατάλληλο υποκείμενο και δασικά φυτά για δημιουργία προστατευτικού φράκτη.<br><br>Σύντομα, οι επιχειρήσεις “Δανιηλίδης” θα λειτουργήσουν μονάδα τυποποίησης και εμπορίας βιολογικών προϊόντων.</p>
            <!-- <div class="pt-8"></div> -->
        </div>
        <div class="h-full w-full flex items-center">
            <div class="bg-[url('assets/images/icons/fruits_icon_bio_section.svg')] lg:bg-contain lg:bg-no-repeat lg:h-full lg:max-w-[600px] bg-cover bg-center w-full h-72 overflow-hidden"></div>
        </div>
    </div>
</div>
