<section class="h-screen w-full">

    <div class="h-screen overflow-y-scroll snap-y snap-mandatory">
        <div class="snap-always snap-start w-full h-screen bg-[#EFF1F0]">
            <app-home></app-home>
        </div>
        <div class="snap-always snap-start w-full h-screen bg-[#333628]">
            <app-about></app-about>
        </div>
        <div class="snap-always snap-start w-full h-screen bg-[#061C12]">
            <app-bio></app-bio>
        </div>
        <div class="snap-always snap-start w-full h-screen bg-[#30231A]">
            <app-contact></app-contact>
        </div>
    </div>

</section>