<div class="w-full h-screen lg:flex lg:justify-center">
    <div class="pt-10 px-6 lg:px-0 w-full lg:max-w-[1280px] lg:flex bg-[#30231A]">
        <div>
            <div class="grid mt-16 lg:mt-28">
                <h1 class="text-white text-2xl font-bold">Επικοινωνήστε μαζι μας</h1>
                <p class="text-white text-base pt-3 whitespace-pre-wrap">Θα χαρούμε να σας ακούσουμε! Παραμένουμε δίπλα στον Έλληνα παραγωγό και ενισχύουμε την εξέλιξη των καλλιεργειών με καινοτομίες, βελτιώσεις και σύγχρονες προτάσεις.</p>
                <!-- <div class="pt-8"></div> -->
            </div>
            <div class="pt-12 w-full">
                <form #f="ngForm" [formGroup]="contactForm" (ngSubmit)="submitContactForm(contactForm)">
                    <!-- name -->
                    <div class="relative">
                        <label for="name" class="hidden">Ονοματεπώνυμο</label>
                        <input type="text" id="name" class="w-full rounded-full h-12 text-sm text-black border-none bg-[#E04E35] placeholder:text-black pl-14" placeholder="Ονοματεπώνυμο"/>
                        <p class="absolute z-10 left-5 top-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 15C15.3137 15 18 12.3137 18 9C18 5.68629 15.3137 3 12 3C8.68629 3 6 5.68629 6 9C6 12.3137 8.68629 15 12 15Z" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M2.90625 20.2499C3.82775 18.6534 5.15328 17.3277 6.74958 16.406C8.34588 15.4843 10.1567 14.999 12 14.999C13.8433 14.999 15.6541 15.4843 17.2504 16.406C18.8467 17.3277 20.1722 18.6534 21.0938 20.2499" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </p>
                    </div>
                    <!-- email -->
                    <div class="relative mt-3">
                        <label for="email" class="hidden">Email</label>
                        <input type="text" id="email" class="w-full rounded-full h-12 text-sm text-black border-none bg-[#E04E35] placeholder:text-black pl-14" placeholder="Email"/>
                        <p class="absolute z-10 left-5 top-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.9781 19.4998C15.3076 20.609 13.3145 21.1285 11.3151 20.9759C9.31573 20.8233 7.42456 20.0073 5.94169 18.6575C4.45883 17.3077 3.4692 15.5014 3.12984 13.5251C2.79048 11.5488 3.12083 9.51582 4.06846 7.74867C5.0161 5.98151 6.52674 4.58143 8.3607 3.77059C10.1947 2.95975 12.2469 2.78459 14.1917 3.2729C16.1365 3.76121 17.8626 4.88502 19.096 6.46602C20.3294 8.04702 20.9995 9.99464 21 11.9998C21 14.0717 20.25 15.7498 18.375 15.7498C16.5 15.7498 15.75 14.0717 15.75 11.9998V8.24984" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </p>
                    </div>
                    <!-- text -->
                    <div class="relative mt-3">
                        <label for="text" class="hidden">Email</label>
                        <textarea name="text" rows="10" class="text-sm text-black border-none bg-[#E04E35] px-6 pt-4 pb-[72px] w-full rounded-[32px] resize-none placeholder:text-black" placeholder="Αφήστε το μήνυμα σας εδώ..."></textarea>
                        <div class="absolute z-10 bottom-3 left-0 w-full px-3 rounded-full bg-[#E04E35]">
                            <button type="submit" class="w-full h-12 rounded-full bg-[#BA412C] text-white text-base font-bold">Αποστολή μηνύματος</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <!-- about us -->
            <div class="mt-24 px-6 pb-6">
                <h2 class="text-[#BCB7B4] text-2xl font-bolfd">Σχετικά με εμάς</h2>
                <div class="bg-[#534841] px-4 pt-4 pb-12 rounded-3xl space-y-6 text-[#DFDCDB] text-base">
                    <p>Τα φυτώρια Δανιηλίδης διαθέτουν ιδιόκτητες κτιριακές εγκαταστάσεις συνολικού εμβαδού 800 τ.μ. που περιλαμβάνουν αποθηκευτικούς χώρους, δύο ψυκτικούς θαλάμους και τα γραφεία μας</p>
                    <p class="font-bold">Νάουσα, 590 35<br>1ο χλμ Μονοσπίτων - Σ.Σ. Νάουσας</p>
                    <p><a href="tel:00302332043331">Τηλέφωνο (+30) <span class="font-bold">2332 043 331</span></a>
                        <br><a href="tel:00306973742851">Κινητό (+30) <span class="font-bold">6973 742 851</span></a>
                        <br><a href="mailto:info@daniilidisbio.gr">E-mail: <span class="font-bold">info@daniilidisbio.gr</span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer
<div class="grid grid-cols-2 place-content-start pt-6 pb-36 px-11 text-[#DFDCDB] bg-[#281D16] text-sm">
    <p class="text-left">Οπωροφόρα</p>
    <p class="text-left">Ξηροί Καρποί</p>
    <p class="text-left">Δασικά</p>
    <p class="text-left">Ελιές</p>
    <p class="text-left">Εσπεριδοειδή</p>
</div> -->