/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        font-family: 'Product Sans', sans-serif;
        font-family: 'Product Sans Thin', sans-serif;
        font-family: 'Product Sans Light', sans-serif;
        font-family: 'Product Sans Medium', sans-serif;
        font-family: 'Product Sans Black', sans-serif;
    }
}