<div class="pt-10 w-full flex flex-col items-start">
    <div class="grid mt-16 px-6 text-left">
        <h1 class="text-[#B4B7A9] text-2xl font-bold">Φυτά υψηλής ποιότητας και μεγάλης αποδοτικότητας</h1>
        <p class="text-white text-base pt-3 whitespace-pre-wrap">Πίσω όμως από κάθε μας φυτό βρίσκονται οι ανάγκες του κάθε παραγωγού σε ποια περιοχή διαμένει.<br><br>Έχουμε τη δυνατότητα να παράγουμε φυτά με ιδανικά υποκείμενα για το δικό σας έδαφος και προσαρμοσμένα στο τοπικό κλίμα της περιοχής σας.</p>
        <!-- <div class="pt-8"></div> -->
    </div>
    <div class="h-full w-full flex items-center">
        <div class="bg-[url('assets/images/icons/fruits_icon_about_section.svg')] bg-cover bg-center w-full h-72 overflow-hidden"></div>
    </div>
</div>
